.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:70px;
  background: black;
  color: white;
  font-family: 'Montserrat';
}

.header-logo{
  display: flex;
  align-items: center;
  img{
    height:45px !important;
  }
  h3{
    padding:0 0 0 15px;
    margin:0;
    font-size:25px;
  }
}

.menu-header{
  background-color:black;
  min-height: 70px;
  display: flex;
  align-items: center;
  .menu-toolbar{
    font-size: x-large;
    margin: 0 0 0 13px;
    // background-color:black;
    color:white;
  }
}
.toolbar-background{
  background:#000000;
}
