<!-- <ion-header>
  <ion-toolbar>
    <ion-title>balance</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="home-container">
    <div class="balance">
      <div class="left">
        <!-- <h6>Welcome Reyaz Khan : 0$ Balance</h6> -->
        <h4>Pending : 0$</h4>
      </div>
      </div>
      <div class="balance">
        <div class="left">
          <!-- <h6>Welcome Reyaz Khan : 0$ Balance</h6> -->
          <h4>Holding : 0$</h4>
        </div>
      </div>
      <div class="balance">
        <div class="left">
          <!-- <h6>Welcome Reyaz Khan : 0$ Balance</h6> -->
          <h4>Total : 0$</h4>
        </div>
      </div>
  </div>

</ion-content>
