<ion-content>
  <div class="home-container">
    <div class="balance">
      <div class="left">
        <h6>Welcome Reyaz Khan : 0$ Balance</h6>
      </div>
      <div class="comboBtn">
        <div>
          <button type="button" class="btn btn-primary">Deposit</button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary">Withdrawl</button>
        </div>
      </div>
    </div>
    <div class="table-parent">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">DATE</th>
            <th scope="col">TIME</th>
            <th scope="col">ASSET</th>
            <th scope="col">BALANCE</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let val of historyData;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{val.date}}</td>
            <td>{{val.time}}</td>
            <td>{{val.asset}}</td>
            <td>{{val.balance}}$</td>
            <td>
              <button type="button" class="btn btn-danger">+</button>
            </td>
          </tr>

        </tbody> -->
      </table>
    </div>
  </div>

</ion-content>
